ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

h1, h2, h3, ul, p, nav {
  font-family: Helvetica, sans-serif, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  text-align: center;
}

h1 {
  padding-top: 15px;
  color:cadetblue;
}

nav {
  font-size: large;
  margin-right: 20px;
  text-shadow: 2px;
  padding-top: 50px;
}

.navbar a { 
  color:black;
  display: inline; /* or inline-block */ 
  margin-right: 30px; /* Adjust the value as needed */ 
} 

p {
  width: 500px;
  text-align: center;
}

    