ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

h1, h2, h3, ul, p, nav, a {
  font-family: Helvetica, sans-serif, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  text-align: center;
}

h1 {
  padding-top: 15px;
  color:cadetblue;
}

nav {
  font-size: large;
  margin-right: 20px;
  text-shadow: 2px;
  background-color: lightblue;
  background-size: 10px;
  
}

.navbar a { 
  color:black;
  display: inline; /* or inline-block */ 
  margin-right: 30px; /* Adjust the value as needed */ 
} 

p {
  width: fit-content;
  margin: auto;
}

.intro {
  width: 500px;
}

.intro p, a {
  width: 500px;
  text-align: center;
}

.caption {
  width: 750px;
  text-align: center;
}

.scaleA {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  max-width: max-content;
}

iframe {
  margin: 0 auto;
  display:block
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}