<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Visualizations</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<nav class = "navbar">
    <a href="/views/index.html">Home</a>
    <a href="/views/introduction.html">Introduction</a>
    <a href="/views/datasets.html">Our Datasets</a>
    <a href="/views/references.html">References</a>
    <a href="/views/static_viz.html">Static Visualizations</a>
    <a href="/views/interactive_viz.html">Interactive Visualizations</a>
    <a href="/views/summary.html">Findings & Next Steps</a>
</nav>
<body>
    <h1>Interactive Data Visualizations</h1>
    <h2>Map of All Earthquakes</h2>
    <iframe src="/earthquakes map.html" width="800" height="600"></iframe>
    <p class = "caption">
        This is an interactive plot of every earthquake in the dataset. To interact with the graph, 
        users can use their cursor to move between countries and areas within the world. The user 
        can click on the red icons, which represent an occurrence of an earthquake, to show the year 
        the earthquake occurred, the magnitude of the earthquake, and any recorded deaths. This map 
        shows us where earthquakes are most prevalent around the world, like the eastern side of Africa, 
        the Ring of Fire, and southern China.  
    </p>
    <h2>Earthquake Occurrences & Economic Damage</h2>
    <iframe src="/int_tree_map2.html" width="800" height="600" style="text-align:center"></iframe>
    <p class = "caption">
        This treemap highlights global earthquake occurrences and economic impacts over the last two decades, with damages adjusted to 2024 values. Box size represents earthquake count, 
        while color intensity reflects total damages influenced by factors like frequency, magnitude, and economic vulnerability. Japan leads with $449B in damages, driven by 
        high-magnitude events and costly impacts on infrastructure, economy, and personal assets. China and Indonesia also face significant damages due to frequent seismic activity. 
        Smaller nations, like Haiti and Samoa, reveal that even fewer earthquakes can have devastating localized effects. The data underscores the importance of tailored disaster 
        preparedness in high-risk regions.
    </p>
    <h2>Economic Damage Caused By Earthquakes Over Time</h2>
    <iframe src="/int_bar_chart.html" width="800" height="600"></iframe>
    <p class = "caption">
        This graph shows earthquake damages by country from 2000 to 2024, adjusted to 2024 values. Japan dominates due to the 2011 Great East Japan Earthquake, the costliest natural 
        disaster in history, causing over $300 billion in damages, a devastating tsunami, and the Fukushima nuclear disaster (Daniell, James, 2011). Countries like Indonesia and China 
        also exhibit significant impacts from recurring earthquakes. The graph underscores the global economic toll of earthquakes, where both large-scale disasters and localized events, 
        such as those in smaller nations like Haiti and Italy, collectively contribute to substantial losses over time.
    </p>
</body>
</html>