<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Visualizations</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<nav class = "navbar">
    <a href="/views/index.html">Home</a>
    <a href="/views/introduction.html">Introduction</a>
    <a href="/views/datasets.html">Our Datasets</a>
    <a href="/views/references.html">References</a>
    <a href="/views/static_viz.html">Static Visualizations</a>
    <a href="/views/interactive_viz.html">Interactive Visualizations</a>
    <a href="/views/summary.html">Findings & Next Steps</a>
</nav>
<body>
    <h1>Interactive Data Visualizations</h1>
    <iframe src="/int_tree_map.html" width="800" height="600"></iframe>
    <p>The treemap highlights global earthquake occurrences (2000–2024) by country, with box size representing the total number of earthquakes and hover data showing average magnitudes. 
        Countries like China, Indonesia, and Japan dominate with frequent seismic activity, while smaller boxes, such as Panama and Haiti, indicate fewer recorded events. High-frequency countries like 
        China and Indonesia experience frequent but varied-magnitude earthquakes, whereas nations like Japan and Chile endure fewer but more intense events. This visualization 
        underscores the global disparities in earthquake frequency and severity, emphasizing the need for tailored disaster preparedness strategies based on regional seismic activity patterns.</p>
</body>
</html>