<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<nav class = "navbar">
    <a href="/views/index.html">Home</a>
    <a href="/views/introduction.html">Introduction</a>
    <a href="/views/datasets.html">Our Datasets</a>
    <a href="/views/references.html">References</a>
    <a href="/views/static_viz.html">Static Visualizations</a>
    <a href="/views/interactive_viz.html">Interactive Visualizations</a>
    <a href="/views/summary.html">Findings & Next Steps</a>
</nav>
<body>
    <h1>Introduction</h1>
    <p>For our project, we decided to visualize and analyze earthquake data from around the world. 
        Earthquakes are important to understand because as natural disasters, they can cause human casualties, 
        topple buildings and other infrastructure, and even trigger other natural disasters, such as volcanic 
        eruptions, tsunamis, and landslides. Some of the deadliest natural disasters in history have been earthquakes, 
        such as the 2010 earthquake in Haiti, 2004 Indian Ocean earthquake and tsunami, and the 2008 China earthquake. 
        Through the analysis of earthquake data, we can discover which areas around the world have been the most affected
         or most likely to be affected in the future, and develop better solutions to a difficult problem.</p>
</body>
</html>