<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<nav class = "navbar">
    <a href="/views/index.html">Home</a>
    <a href="/views/introduction.html">Introduction</a>
    <a href="/views/datasets.html">Our Datasets</a>
    <a href="/views/references.html">References</a>
    <a href="/views/static_viz.html">Static Visualizations</a>
    <a href="/views/interactive_viz.html">Interactive Visualizations</a>
    <a href="/views/summary.html">Findings & Next Steps</a>
</nav>
<body>
    <h1>Introduction</h1>
    <p class="intro">For our project, we focused on visualizing and analyzing global earthquake data, highlighting one of nature’s most destructive phenomena. 
        Earthquakes are a critical area of study because they can devastate communities, leading to significant loss of life, widespread destruction of 
        infrastructure, and triggering secondary disasters like tsunamis, volcanic eruptions, and landslides. Some of history's deadliest natural disasters — such
         as the 2010 Haiti earthquake, the 2004 Indian Ocean earthquake and tsunami, and the 2008 Sichuan earthquake in China — underscore the catastrophic impact 
         these events can have, often leaving long-lasting scars on affected regions.</p>

    <p class="intro">
        Through the analysis of earthquake data, we aim to identify patterns and trends that can reveal which areas of the world are most affected or at the greatest 
        risk of future events. By better understanding these high-risk zones, we hope to contribute to developing more effective strategies for disaster preparedness 
        and mitigation. This kind of analysis not only sheds light on the vulnerabilities of specific regions but also highlights the importance of using data-driven 
        insights to address one of the world’s most challenging natural threats. </p>

    
    <img src="https://media.npr.org/assets/img/2020/01/09/gilkey-haiti-0-13_custom-46ab048500e8152fb90640abd29855c695bea32f.jpg" 
        alt="Destroyed building with construction worker" class="scaleA" class = "center">
</body>
</html>