<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<nav class = "navbar">
    <a href="/views/index.html">Home</a>
    <a href="/views/introduction.html">Introduction</a>
    <a href="/views/datasets.html">Our Datasets</a>
    <a href="/views/references.html">References</a>
    <a href="/views/static_viz.html">Static Visualizations</a>
    <a href="/views/interactive_viz.html">Interactive Visualizations</a>
    <a href="/views/summary.html">Findings & Next Steps</a>
</nav>
<body>
    <h1>References</h1>
</body>
</html>